.content {
    align-items: stretch;
    background:#eeedeb;
}

.content-wrap {
    display: flex;
}

.panel__title .description,
.group__title {
    height: 16px;    
    font-size: 16px;
}

p.group__title {
    margin: 0 0 12px;
}

.table {    
    text-align:center;
}

.table th {
    background-color: #f7931d;
    color: #ffffff;
    font-size:14px;
}

.table thead th {
    border-bottom:none;
}