.footer {
    border-top: 5px solid #febc11;
    .footer__top {
        background: #eeedeb;
        .footer__top__links__wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #c6c6c6;
            padding: 30px 0;
            ul {
                list-style: none;
                padding-left: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                font-size: 13px;
            }
            .footer__top__links__wrap-left {
                li {
                    &:first-child {
                        &:before {
                            content: '';
                            margin: 0;
                        }
                    }
                    &:before {
                        content: '|';
                        margin: 0 15px;
                    }
                }
            }
            .footer__top__links__wrap-right {
                li {
                    &:first-child {
                        &:before {
                            content: '';
                            margin: 0;
                        }
                    }
                    &:before {
                        content: '|';
                        margin: 0 20px;
                    }
                }
            }
        }
        .footer__top__group__wrap {
            padding: 30px 0;
            ul {
                list-style: none;
                padding-left: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
            }
            .footer__top__group__wrap__title {
                color: #706f6f;
            }
        }
    }
    .footer__bottom {
        background: #c9c9c9;
        .footer__bottom__wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px 0;
            .footer__bottom__middle {
                text-align: center;
                font-size: 13px;
                color: #706f6f;
            }
        }
    }
}