.header {
    border-bottom: 1px solid #dddddd;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.header__wrap__logo {
    display: flex;
    align-items: center;
}

.header__wrap__info {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-basis: 550px;
}

.header__wrap__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #ffffff;
    position: relative;
    flex-basis: 350px;
}

.header__wrap__profile__content {
    display: flex;
    align-items: center;
}

.header__wrap__profile__info {
    margin-left: 20px;
    color: #706f6f;
    font-weight: bold;
}

.header__wrap__profile__info-title {
    font-size: 16px;
    text-transform: uppercase;
}

.header__wrap__profile__info-user {
    font-size: 14px;
    & > span {
        color: #febc11;
    }
}

.header__wrap__profile__info-time {
    display: flex;
    align-items: center;
    font-size: 14px;
    i[class^="icon-"] {
        font-weight: normal;
        font-size: 12px;
        margin-right: 5px;
    }
}

.header__wrap__profile__image {
    & > img {
        border-radius: 100%;
        background: #cccccc;
        width: 50px;
        height: 50px;
        display: block;
    }
}

.header__wrap__profile__trigger {
    margin-left: 10px;
    border: none;
    background: none;
    padding: 15px 0 15px 15px;
    outline: none;    
    cursor: pointer;
    & > i[class^="icon-"] {
        outline: none;
        display: block;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        color: #febc11;
        font-size: 14px;
    }
    &.is-active {
        & > i[class^="icon-"] {
            transform: rotate(180deg);
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            color: #febc11;
        }
    }
    &:focus {
        outline: none;
    }    
}

.header__wrap__profile__target {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    min-width: 300px;
    padding: 0;
    box-shadow: 0 5px 5px #aaaaaa;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    &.is-active {
        display: block;
        opacity: 1;
        max-height: 99999999px;
        padding: 20px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
    }
}

.header__wrap__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    padding: 0 10px;
    background: #ffffff;
    position: relative;
    & > i[class^="icon-notification"] {
        color: #706f6f;
        font-size: 45px;
    }
}

.header__wrap__notification__trigger {
    border: none;
    background: none;
    padding: 15px 0 15px 10px;
    outline: none;    
    line-height: 0.9;
    cursor: pointer;
    & > i[class^="icon-"] {
        outline: none;
        display: block;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        color: #febc11;
        font-size: 14px;
    }
    &.is-active {
        & > i[class^="icon-"] {
            transform: rotate(180deg);
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            color: #febc11;
        }
    }
    &:focus {
        outline: none;
    }    
}

.header__wrap__notification__target {
    position: absolute;
    top: 100%;
    right: 0;
    background: #ffffff;
    min-width: 300px;
    padding: 0;
    box-shadow: none;
    max-height: 0;
    overflow: hidden;
    border: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    &.is-active {
        opacity: 1;
        max-height: 99999999px;
        padding: 20px;
        box-shadow: 0 5px 5px #aaaaaa;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
    }  
}

.header__wrap__fontsize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.header__wrap__fontsize__item {
    background: #333333;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    & + .header__wrap__fontsize__item {
        margin-top: 5px;
    }
    & > span {
        width: 22px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-minus, &-plus {
        background: #eeeeee;
        color: #333333;
    }
}