.main {
    width: calc(100% - 280px);
    flex-shrink: 0;
    margin: 30px 0 30px 50px;
}

/*** PANEL ***/

.panel {
    padding: 32px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 42px;
}

/*** PESQUISA ***/

.panel__pesquisa .input-group {
    width:100%;   
    padding: 0;
    max-width: 800px;
    margin: 0 auto; 
    // @include placeholder {
    //     font-weight: bold;
    // }
}

.panel__pesquisa input {
    background-color: #f9f9f9;
}

.panel__pesquisa .btn {
    background-color: #bbbdc0;
    color: #fff;
    font-size:18px;
    line-height: 32px;
    padding:0 1.75em;
    font-weight: bold;
    &:hover {
        background-color: #6d6e70;
    }
}

/*** CANCELAMENTO ***/

.panel__cancelamento__contrato .form-control {
    // @include placeholder {
    //     font-family: 'Calibri', 'sans-serif';
    //     font-weight: bold;
    // }
}

.panel__cancelamento__contrato .row {
    margin-bottom: 16px;
}

.panel__cancelamento__contrato .btn-group button {
    border-left:1px solid #fff;  
    &.active {
        background: #706f6f;
        color: #ffffff;
    }  
}

.input-group.date__group {
    padding: 0;
}

.cancelar__contrato {
    margin: 0;
    text-align: center;

    & .btn {
        width: 250px;
        height: 46px;
        line-height: 46px;
        padding: 0;
        font-size: 1.1em;
        background: #f7931d;
        color: #fff;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background: #febc11;
        }
    }

    .icon-arrow-up {
        margin-right: 7px;
    }
}

.panel__box {
    margin: 40px auto;
    border: 1px solid #ddd;
    width: 100%;
    padding: 30px 50px;
    border-radius: 8px
}

.panel__box__title {
    text-align: center;
    font-size: 1.6em;
    color: #706f6f;    
}


/*** FILA DE CANCELAMENTO ***/

.table .table {
    max-width: 90%;
    margin:10px auto;
}

.table__fila__cancelamento tr td {
    vertical-align:middle;
}


.smallfont {
    font-size: 10px;

    br:first-child {
        display: none;
    }

    a {
        color: blue;
    }
}