.panel {
    .panel__title {
        color: #706f6f;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 26px;
        padding-bottom: 5px;
        margin-bottom: 1em;
        border-bottom: 1px solid #f7931d;

        & > [class^="icon-"] {
            font-size: 14px;
            transition: all .3s;
        }

        &.collapsed [class^="icon-"] {
            transform: rotate(180deg);
        }
    }

    .panel-body {
        padding-top: 10px;
        color: #706f6f;

        & span {
            font-size: 14px;
            display: block;
            font-weight: bold;

            & i {
                position: absolute;
                right: 0;
                top: 14px;
            }
        }

        .btn-group {
            margin-bottom: 2em;

            .btn {
                white-space: normal;
                padding: .5em 2em;
                cursor: pointer;
            }
        }
    }
}
