.sidebar {
    width: 280px;
    flex-grow: 0;
    background-color: #dfdfdf;

    & > ul {
        list-style: none;
        padding-left: 0;

        & > li {
            & > a {
                padding: 15px 20px;
                font-size: 12px;
                font-weight: bold;
                color: #4a4a4a;
                display: flex;
                align-items: center;

                &:hover {
                    text-decoration: none;
                }

                & > i[class^="icon-"] {
                    margin-right: 15px;
                    font-size: 26px;
                }
            }

            & > ul {
                list-style: none;
                font-size: 12px;
                font-weight: normal;
                background-color: #e6e7e8;
                padding: 0;
                max-height: 0;
                visibility: hidden;
                transition: all 0.8s;
                -webkit-transition: all 0.8s;
                -moz-transition: all 0.8s;
                -o-transition: all 0.8s;

                & > li {
                    display: none;

                    & > a {
                        padding: 5px 25px;
                        display: block;
                        font-size: 0;
                        transition: all 0.8s;
                        -webkit-transition: all 0.8s;
                        -moz-transition: all 0.8s;
                        -o-transition: all 0.8s;

                        &:hover {
                            text-decoration: none;
                            color: #000;
                        }
                    }
                }

                &.is-active {
                    display: block;
                    padding: 15px 0;
                    max-height: 999999px;
                    visibility: visible;
                    transition: all 0.8s;
                    -webkit-transition: all 0.8s;
                    -moz-transition: all 0.8s;
                    -o-transition: all 0.8s;

                    & > li {
                        display: block;

                        & > a {
                            font-size: 12px;
                            transition: all 0.8s;
                            -webkit-transition: all 0.8s;
                            -moz-transition: all 0.8s;
                            -o-transition: all 0.8s;
                        }
                    }
                }
            }
        }
    }
}
