// =============================================================================
// Base
// =============================================================================

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 100%;
  background-color: #fff;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.5;
}

figure {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/*** FORMULARIOS ***/

.input-group, 
.form-control,
select.form-control:not([size]):not([multiple]) {
    height: 32px;
    padding: 0 .75rem;
}

.none {
    display: none;
}

/***  mixin placeholder  ***/

// @mixin placeholder {
//   ::-webkit-input-placeholder {@content}
//   :-moz-placeholder           {@content}
//   ::-moz-placeholder          {@content}
//   :-ms-input-placeholder      {@content}  
//   color:#9b9b9b;  
// }

