
// Color pallete
$charcoal-grey: #404652;
$slate-grey: #6d6e70;
$grey :#706f6f;
$silver: #bbbdc0;
$whiteish-silver: #e6e7e8;
$fake-white: #f9f9f9;
$pure-white: #ffffff;
$green: #a3ca3a;
$witeish-green: #f5f9eb;
$coral: #f75757;
$very-light-pink: #fef6f6;
$squash: #f7931d;
$orangey-yellow: #febc11;
$wheat: #fedd88;
$beige: #f8f2e1;

// Fonts
$font_family_1: 'Calibri', sans-serif;
